In [1]:
#squarinf a number
a = 7
print(a**4)

2401

In [2]:
#spiltting 
s = "hi there sam!"
list1 = s.split()
print(list1)
print(s.split())

email = "acsec@sdcds.csd"
print(email.split("@"))

['hi', 'there', 'sam!']
['hi', 'there', 'sam!']
['acsec', 'sdcds.csd']

In [3]:
#Indexing
planet = "earth"
diameter = 12742
print("the diameter of {0} is earth {1} km" .format(planet, diameter))

the diameter of earth is earth 12742 km

In [4]:
#List
lst = [1,2,[3,4], [5,[100,200,['hello']],23,11],1,7]
grab = lst[3][1][2][0]
print(grab)

hello

In [5]:
#Dictionary
d = {'k1':[1,2,3,{'tricky': ['oh', 'man', 'inception', {'target' : [1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [6]:
#. Write a program to input roll no, student name, marks of physics, chemistry and maths out of 100. (0-100).Calculate total,
#  percentage, calculate STATUS (pass, fail) if students scores above 40 in all the 3 subjects the STATUS should be pass otherwise
#  fail. Calculate GRADE if STATUS is pass.

Roll_no = int(input("Roll no : "))
student_name = input("name : ")
Marks_Of_Physics = int(input("Marks Of Physics : "))
Marks_Of_Chemistry = int(input("Marks Of Chemistry : "))
Marks_Of_Maths = int(input("Marks Of Maths : "))

print("Roll No. : ", Roll_no)
print("Student Name : ", student_name)
print("Marks in Physics : ", Marks_Of_Physics)
print("Marks in Chemistry : ", Marks_Of_Chemistry)
print("Marks in Maths : ", Marks_Of_Maths)


total = Marks_Of_Physics + Marks_Of_Chemistry + Marks_Of_Maths
percentage = total / 3

def grade():
    if(total>70 ):
        print("Grade : Distinction")
    elif(total<40):
        print("Grade : Fail")
    elif(total>60):
        print("Grade : First Class")
    elif(total>50):
        print("Grade : Second Class")
    elif(total>40):
        print("Grade : Pass")
grade()

if(Marks_Of_Chemistry >40) and (Marks_Of_Physics>40)  and (Marks_Of_Maths>40):
    print("Status: Pass")
else :
    print("Fail")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
email = input("Enter Email : ")
name = input("Name : ")
Basic_salary = int(input("Salary : "))
experience = int(input("Years of experince : "))
hra = Basic_salary*.035
da = Basic_salary*.58
pf = Basic_salary*0.095
a = 0

print("Name : ", name)
print("Email : ", email)
print("Basic Salary : ", Basic_salary)
print("HRA : ", hra)
print("DA : ", da)
print("PF : ", pf)

if (experience >= 30):
    a = 0.59
    print("Bonus : ", Basic_salary+(Basic_salary*a))
elif (experience>= 23):
    a = 0.51
    print("Bonus : ", Basic_salary+(Basic_salary*a))
elif (experience>= 15):
    a = 0.45
    print("Bonus : ", Basic_salary+(Basic_salary*a))
elif (experience >= 7):
    a = 0.33
    print("Bonus : ", Basic_salary+(Basic_salary*a))
elif (experience<7):
    a = 0.16
    print("Bonus : ", Basic_salary+(Basic_salary*a))

fees is  550